/* FIRST ITERATION */

body.sanchi-1 {
  background: #000000 ;
  
  text-align: center;
  width: 100%;
  height: 100%;
}
body.sanchi-1 .one {
  font-family: 'Notable', sans-serif;
  font-family: ;
  font-size: 150px;
  font-weight: ;
  text-decoration: ;
  text-align: center;
  padding: 0px, 0px, 0px, 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  /* float: left; */
  color: white;
  opacity: ;
  letter-spacing: 10px;
  line-height: 200px;
  /* text-shadow: 100px 200px 100px #FFFFFF; */
}

body.sanchi-1 .two {
  font-family: 'Notable', sans-serif;
  font-family: ;
  font-size: 20px;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
  float: left;
  color: white;
  opacity: ;
  letter-spacing: 10px;
  /* transform: rotate(-20deg); */
}
body.sanchi-1 .three{
  font-family: 'Notable', sans-serif;
  font-size: 50px;
  font-weight: ;
  text-decoration: ;
  text-align: center;
  padding: ;
  color: white;
  opacity: ;
  float: left;
  letter-spacing: 10px;
  line-height: 100px;
  /* transform: rotate(30deg); */
  margin-left: 0px;
  margin-top: 10px;
}


/* SECOND ITERATION */


body.sanchi-2 {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.sanchi-2 .one {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.sanchi-2 .two {
  font-family: helvetica ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.sanchi-2 .three{
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}


/* THIRD ITERATION */


body.sanchi-3 {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.sanchi-3 .one {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.sanchi-3 .two {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.sanchi-3 .three{
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
